/* Header */

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.navbar {
  list-style-type: none;
  display: flex;
}

.navbar li {
  font-size: 16px;
  color: rgba(0,0,0,0.3)
}

.navbar li:first-child{
  margin-left: 0;
}

.navbar li{
  margin-left: 16px;
}

/* BANNER */

.banner {
  padding: 32px;
  text-align: center;
  background-color: #5cb85c;
  box-shadow: inset 0 8px 8px -8px rgb(0 0 0 / 30%), inset 0 -8px 8px -8px rgb(0 0 0 / 30%);
}

.banner,.logo-font,.logo-slogan {
  font-family: 'Titillium Web', 'sans-serif';
  color: #fff;
}

.banner .logo-font {
  font-weight: bold;
  font-size: 56px;
  margin-bottom: 0;
  text-shadow: 0 1px 3px rgb(0 0 0 / 30%);
}

.banner .logo-slogan {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 0;
  text-shadow: 0 1px 3px rgb(0 0 0 / 30%);
  margin-bottom: 0;
}